{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eef6fa;
    font-family: Arial, sans-serif;
}

html {
     scroll-behavior: smooth;
}
body {
    margin: 8px;
    background-color: #eaf2f8;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 16px 120px;
}

.card {
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.hero{
    text-align: center;
    margin-top: 40px;
}

h1,h2 {
    color: #2c3e50;
}

p, li{
    color: #555;
     font-size: 16px;
}

ul {
    padding-left: 20px;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #217dbb;
}

.card {
    border-left: 5px solid #3498db;
}
.card :last-child{
    margin-bottom: 80px;
}

.card ul {
    margin-bottom: 0;
}

ul {
    padding-left: 20px;
}

.card + .card {
    margin-top: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    width: 100vw%;
    background-color: white;
    padding: 0px 16px;
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items:center ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 9999;
}

.navbar a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.navbar :hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
}
    .navbar a {
        font-size: 14px;
        white-space: nowrap;
}
    .container {
        padding: 96px 16px 120px;
        max-width: 900px;
        margin: 0 auto;
}
    .card {
        padding: 24px 20px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p, li{
        font-size: 14px;
    }
    section {
    scroll-margin-top: 120px;
}

}